<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Players</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center margin-top *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div *ngIf="!loading">
    <ion-searchbar [(ngModel)]="searchText"
                   (ionInput)="filterPlayers(searchText)">
    </ion-searchbar>
    <ion-list *ngIf="!loading">
      <ion-item *ngFor="let player of filteredPlayers" (click)="goToPlayer(player)">
        {{ player.DISPLAY_LAST_COMMA_FIRST }}
        <span item-end>{{ player.TEAM_ABBREVIATION }}</span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
